@import "tailwindcss";

/* TODO: are these really needed? */
@source "./vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "./storage/framework/views/*.php";
@source "../views";
@source "../js";

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Inter Variable", "sans-serif";

    --spacing-breakout: 92ch;
    --spacing-breakout-lg: 104ch;
    --spacing-reading: 67ch;
    --spacing-section: calc(var(--spacing) * 20);

    --color-background: hsl(0, 0%, 98%);
    --color-foreground: hsl(240, 10%, 3.9%);

    --color-brand: hsl(25, 100%, 56%);
    --color-prose-body: oklch(0.371 0 0);

    --color-popover: hsl(0, 0%, 100%);
    --color-popover-foreground: var(--color-foreground);

    --color-card: var(--color-background);
    --color-card-foreground: var(--color-foreground);

    --color-primary: hsl(240, 5.9%, 10%);
    --color-primary-foreground: hsl(0, 0%, 96%);

    /* --color-secondary: hsl(25, 56%, 76%); */
    --color-secondary: hsl(240, 4.8%, 95%);
    --color-secondary-foreground: var(--color-primary);

    --color-accent: var(--color-secondary);
    --color-accent-foreground: var(--color-primary);

    --color-muted: var(--color-secondary);
    --color-muted-foreground: hsl(240, 3.8%, 46.1%);

    --color-destructive: hsl(0, 84.2%, 60.2%);
    --color-destructive-foreground: hsl(0, 0%, 96%);

    --color-success: hsl(152, 69%, 31%);
    --color-success-foreground: hsl(0, 0%, 98%);

    --color-ring: var(--color-primary);
    --color-border: hsl(240, 5.9%, 90%);
    --color-input: hsl(240, 5.9%, 90%);

    --radius: 0.5rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
    * {
        @apply border-border;
        /* caret-color: var(--color-brand); */
    }
    html {
        /* so the last line of editor is not directly at the bottom of the screen if text is longer than one page */
        scroll-padding-bottom: 2rem;
    }
    body {
        @apply font-sans antialiased bg-background text-foreground;
    }
    #app {
        isolation: isolate;
    }
    ::selection {
		/* background-color: rgb(145, 205, 245); */
        background-color: color-mix(in hsl, var(--color-brand), transparent 80%);
        color: color-mix(in hsl, var(--color-brand), black 10%);
	}
}

@utility prose {
    @apply 
        max-w-none 
        prose-neutral
        prose-headings:text-balance 
        prose-headings:text-[1.08rem] 
        prose-headings:font-semibold 
        prose-headings:leading-[inherit]
        prose-headings:tracking-[-0.04em]
        prose-p:text-pretty;
    --tw-prose-body: var(--color-prose-body);
}

@utility text-prose-body {
    color: var(--color-prose-body);
}

@utility heading {
    @apply font-semibold text-balance text-[1.08rem] leading-[inherit] tracking-[-0.04em] text-foreground;
}

@utility link {
    @apply font-semibold underline underline-offset-2;
}

@utility content-grid {
    --content-grid-padding: 2rem;
    --breakout-size: calc(
        (var(--spacing-breakout) - var(--spacing-reading)) / 2
    );
    --breakout-lg-size: calc(
        (var(--spacing-breakout-lg) - var(--spacing-reading)) / 2
    );
    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--content-grid-padding), 1fr)
        [breakout-lg-start] minmax(0, var(--breakout-lg-size))
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start]
        min(100% - (var(--content-grid-padding) * 2), var(--spacing-reading))
        [content-end]
        minmax(0, var(--breakout-size)) [breakout-end]
        minmax(0, var(--breakout-lg-size)) [breakout-lg-end]
        minmax(var(--content-grid-padding), 1fr) [full-width-end];
}

@utility textarea-autosize {
    --padding-y: 0px;
    --border-width: 0px;
    --min-height: 3lh;
    --max-height: 8lh;
    min-height: calc(var(--min-height) + (2 * (var(--padding-y) + var(--border-width))));
    max-height: calc(var(--max-height)  + (2 * (var(--padding-y) + var(--border-width))));
    field-sizing: content;
    resize: none;
}

@utility text-placeholder {
    color: color-mix(in oklab, currentColor 50%, transparent);
}

@utility recipe-input-highlighter {
    @apply relative isolate
    after:-inset-x-2 after:-inset-y-1.5 after:absolute after:z-[-1] after:rounded after:transition-[background] after:ring-offset-background
    hover:after:bg-muted focus-within:after:bg-muted;
}

@layer components {
    .top-nav-bg-blur {
        position: relative;
        isolation: isolate;
        @apply bg-gradient-to-b from-background/70 via-background/70 to-transparent;
        &::after {
            content: "";
            position: absolute;
            inset: -40px 0px;
            backdrop-filter: blur(8px);
            z-index: -1;
            mask-image: linear-gradient(black, black 60%, transparent);
        }
    }
}

@import "./book";
@import "./tiptap";
@import "./button";
@import "./content-grid";
