@layer components {
    .tiptap p.is-empty::before {
        @apply text-muted-foreground;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}